
/* 기본 설정 */
* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* body */
body {
    
    background: #ffd900;
    font-size: 14px;
    width: 80%;
    border: rgb(82, 26, 26);
    padding: auto;
}